<h1>Pacific Coast Highway</h1>
  
      <div class="panel panel-default">
        <div class="panel-body">
          <p>California's Route 1, or the Pacific Coast Highway, runs from the sunny southern part of the state to the forested greenery of the north, and includes the Big Sur Coast Highway and the San Luis Obispo North Coast Byway. Along the way, you'll brave narrow lanes weaving precariously along rocky sea cliffs, encounter historic landmarks such as the Hearst Castle, and be inundated with sweeping ocean views. You can also stop in some of the state's major cities, including Los Angeles, San Diego, and San Francisco.</p>
      </div>
    </div>